extends layout

block content
  h1= title
  p.lead
    | Anti-social Behaviour, Crime and Policing Bill Committee (day 2) [Lord Taylor of Holbeach] 12th Report from the Delegated Powers Committee, 4th Report from the Joint Committee on Human Rights ...
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example