extends layout

block content
  h1= title
  p.lead
    | [To] Make provision for the setting of a decarbonisation target range and duties in relation to it; for or in connection with reforming the electricity market for purposes of encouraging low carbon electricity generation or ensuring security of supply ...
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Basic panel example
  .panel.panel-default
    .panel-body
      | Panel content
    .panel-footer Associated Parliamentary material
  .panel.panel-primary
    .panel-heading
      h3.panel-title Business Papers
    .panel-body
      | Panel content
  .panel.panel-default
    .panel-body
      | Basic panel example